@import "bourbon"
@import "sass/vars"
@import "sass/base"

//First screen styles

.body
  background-color: #fff
  min-height: 100vh
  &__container
    margin-left: 120px
    margin-right: 128px
  &__header
    text-align: center
    &--therapy
      margin-top: 10px
      margin-right: 25px
      margin-bottom: 10px
  &__span
    opacity: 1
    &--bold
      font-weight: bold
    &--blue
      color: #024363
      font-family: serif
      font-weight: bold
      text-transform: capitalize
      font-size: 22px
    &--green
      color: #91a822
      font-family: serif
      font-weight: bold
      text-transform: capitalize
      font-size: 22px
    &--grey
      font-weight: normal
      text-transform: uppercase
      font-family: 'Lato', sans-serif
      font-size: 15.5px
      font-style: normal
      font-stretch: normal
      line-height: normal
      letter-spacing: normal
      color: #4a4a4a
      display: inline-block
      position: relative
      &:after
        content: ''
        width: 17px
        height: 17px
        display: block
        background-image: url('img/icons/icon__share.png')
        -webkit-background-size: 100%
        background-size: 100%
        position: absolute
        top: 0px
        right: -25px

    &--bold
      font-weight: bold
  &__picture
    &--logo
      display: block
      width: 480px
      margin: 0 auto


.nav
  position: absolute
.body__header
    &--top
      min-height: 40vh
      background-color: #fff
      padding-top: 196px
      background-image: url('img/bitmap-copy-4.jpg')
      background-repeat: no-repeat
      background-position: 0 0
    &--moto
      font-family: $OpenSans
      font-size: 36px
      font-weight: normal
      font-style: normal
      font-stretch: normal
      line-height: 1.17
      letter-spacing: normal
      text-align: center
      color: #00568a
      margin-top: 42px
      margin-left: 86px
      margin-right: 91px
      margin-bottom: 10px

.header__sup
  font-size: 18px
.body__paragraph--warning
  margin-top: 0
  font-family: $Lato
  font-size: 12px
  font-weight: normal
  font-style: normal
  font-stretch: normal
  line-height: 1.17
  letter-spacing: normal
  text-align: center
  color: #787878



