@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  /**/
@media only screen and (max-width : 1100px)
  .body
    padding-right: 50px
    padding-left: 50px

@media only screen and (max-width : 992px)
  .body
    padding-right: 0
    padding-left: 0
@media only screen and (max-width : 850px)
  .body__header--quickstart
    margin-top: 150px
  .body__header--quickstart,
  .body__paragraph--quickstart,
  .body__list--quickstart
    margin-left: 20px
  .body__list--navigation
    margin-left: 10px
    background-color: #6f0b4a
    top: 10px
    position: absolute
    width: 100%
    margin-left: 0
    top: 43px
  .header__link
    border-bottom: 1px solid rgba(255,255,255, 0.15)
    display: block
    padding-top: 10px
    padding-bottom: 10px
  .nav
    background-color: rgba(24,24,25,0.84)
  .body__list--navigation
    display: none
    flex-direction: column
    text-align: left
    &.active
      display: flex
  .form__input
    width: 90%
    margin: 0
    left: 0
  .header__link--active
    color: #fff

@media only screen and (max-width: 700px)
  .body__wrapper--check
    width: 100%
  .body__section--checks img
    margin: 0 auto
    display: block
@media only screen and (max-width: 720px)
  .footer__col
    text-align: center
    width: 100%
    float: none
    padding-bottom: 20px
  .section__col
    padding-bottom: 0
    width: 100%
    padding-left: 20%
  .body__header--moto
    font-size: 22px
    line-height: 28px

@media only screen and (max-width: 480px)
  .body__picture--logo
    width: 280px
@media only screen and (max-width: 420px)
  .body__header--therapy
    margin-top: 0px
    margin-bottom: 0
    top: -8px
    span
      font-size: 13px
    .body__span--grey
      font-size: 10px
    .body__span--bold
      font-size: 10px
  .preheader
    height: 25px
  .body__span--grey:after
    width: 10px
    height: 10px
    right: -15px
  .hamburger-menu
    top: 22px
    right: 16px
  .body__header--top
    padding-top: 110px
  .body__header--moto
    margin-right: 15px
    margin-left: 15px
  .body__header--moto
    margin-top: 25px
    font-weight: 600
    line-height: 1.3
    .header__sup
      font-size: 50%
  .body__header--top
    padding-bottom: 20px
  .body__header--nccn
    font-size: 20px
    margin-right: 5px
    margin-left: 5px
  .body__paragraph--nccn
    margin-right: 5px
    margin-left: 5px
  .section__gradient
    background-image: url('../img/bgi__nccn/bitmap@3x_mobile.jpg')
  .body__section--quickstart
    margin-right: 21px
    margin-left: 19px
    margin-top: 45px
    padding-bottom: 11px
  .body__img--quickstart
    width: 97px !important
    height: 120px !important
    margin: 0 auto
    left: 50%
    margin-left: -48px
  .body__header--quickstart
    margin-right: 30px
    margin-left: 33px
    text-align: center
    font-size: 18px;
    letter-spacing: 1.1px

    margin-top: 159px
  .body__paragraph--quickstart
    margin-right: 13px
    margin-left: 23px
    line-height: 1.1
    letter-spacing: 0.8px
  .body__list--quickstart
    margin-top: 20px
    padding-right: 11px
    font-size: 16px
    font-weight: normal
    font-style: normal
    font-stretch: normal
    line-height: 1.2em
  .body__paragraph--trial
    margin-right: 5px
    margin-left: 5px
  .body__link--block
    margin-top: 0
  .section__row
    margin-right: 0px
    margin-left: 0px
  .body__img--download
    width: 48px
    height: 65px
  .body__footer
    padding-top: 20px
    -webkit-background-size:
    background-size: cover
    background-position: 50% 0
    padding-bottom: 22px
  .body__paragraph--links
    font-size: 18px
  .footer__list
    font-size: 14px
  .footer__col
    margin: 0
    padding: 0
  .form__input--email
    width: 180px
  .form__input--button
    width: 100px
    left: -3px
  .body__section--company
    padding-bottom: 17px
  .body__section--monograph
    margin-bottom: 48px
    padding-bottom: 77px
  .body__link--block
    margin-right: 0
  .body__section--checks
    padding-bottom: 41px
    padding-top: 41px
  .body__wrapper--check
    padding-right: 20px
    padding-left: 20px
  .body__paragraph--left
    margin-bottom: 44px
  .body__paragraph--trial:after
    left: 50px
  .body__section--trial
    padding: 0 19px 0 21px
  .body__list--navigation
    padding-left: 19px
  .header__link
    padding-top: 14px
    padding-bottom: 15px
  .body__section--nccn
    padding-top: 21px
    padding-bottom: 28px
  .section__gradient:before
    width: 137px
    background-size: 100%
    left: -45px
    top: -69px
  .body__header--nccn
    margin: 0 auto
    margin-left: 18px
    margin-right: 17px
    width: 285px
    height: 96px
    font-family: $Lato
    font-size: 20px
    font-weight: 700
    font-style: normal
    font-stretch: normal
    line-height: 1.2
    letter-spacing: normal
    text-align: center
    color: #ffffff
  .body__paragraph--nccn
    display: none
  .section__col--right
    margin-top: 10px
  .body__paragraph--mobile
    display: block
    margin: 16px 17px 0 18px
    line-height: 1.13
  .body__section--checks
    padding-top: 19px
  .body__paragraph--checks
    font-size: 16px
    font-weight: normal
    font-style: normal
    font-stretch: normal
    line-height: 1.44
    letter-spacing: normal
    color: #303030
  .body__section--checks img
    width: 158px
    height: 158px
  .body__paragraph--trial
    margin: 16px 9px 19px 10px
    font-size: 16px
    font-weight: 500
    font-style: normal
    font-stretch: normal
    line-height: 1.44
    letter-spacing: 1.1px
    text-align: center
    color: #ffffff
  .body__section--checks
    padding-bottom: 44px
  .section__gradient--trial
    margin-right: 19px
    margin-left: 21px
  .body__img--monograph
    width: 212px
  .body__section--monograph
    padding-top: 0
  .body__section--quickstart
    margin-bottom:  50px
    -webkit-background-size:  cover
    background-size: cover
    background-position: 100% 0
  .body__img--monograph
    margin-top: 133px
    width: 230px
    padding-left: 20px
    letter-spacing: 1.1px
  .body__img--logowhite
    width: 280px
  .body__paragraph--img:before
    z-index: 2
    top: -28px
    left: -71px
    position: absolute
    width: 171px
    height: 154px
    display: block
  .body__link--block
    font-size: 16.8px
  .body__section--monograph:after
    display: block
    position: absolute
    width: 234px
    height: 204px
    right: -71px
    bottom: -70px
  .body__img--logowhite
    margin-top: 23px
  .section__col
    padding-left: 17.5%
  .section__row--second .section__col
    padding-bottom: 12px
  .footer__col.footer__col--subscribe p
    margin-top: 50px !important
    margin-right: 20px !important
    margin-left: 20px !important
    margin-bottom: 15px
  .body__paragraph--links
    margin-top: 55px
  .body__link--links
    margin-bottom: 11px
  .body__header--top
    -webkit-background-size: 30% 30%
    background-size:  30% 30%
@media only screen and (min-width: 850px)
  .hamburger-menu
    display: none
